<div id="toc" popover>

   <ul class="no-list-type center-aligned no-left-margin">
      <li>
         <a href="{{ '/' | relative_url }}">Catálogo</a>
      </li>
      <li>
         <a href="{{ page.collection | relative_url }}">
            {{ site.data[page.collection].titulo }}
         </a>
      </li>
   </ul>
   {%  assign contents = site.data[page.collection].contenido %}
   {% include nav.html nav = contents %}

</div>

<script type="module" src="{{ '/assets/js/toc.js' | relative_url }}"></script>