---
layout: default
---

<article class="post documento-eclesiastico">

   <header class="post-header">
      <h1 class="post-title center-aligned">
         <small>{{ page.tipo }}</small>
         {% if page.title != "" %}
            <b><i lang="la">{{ page.title }}</i></b>
         {% endif %}
         {% if page.motu_proprio %}
            <small>en forma de <i lang="la">Motu Proprio</i></small>
         {% endif %}
         <small>del Sumo Pontífice <b>{{ page.papa }}</b></small>
         <small>{{ page.materia }}</small>
         <small>{{ page.fecha }}</small>
         {%- if page.concilio -%}
            <small>Concilio {{ page.concilio }}</small>
         {%- endif -%}
      </h1>
   </header>

   {%- include components/font-options.html -%}

   <div id="btn-container">
      {%- include components/btn-font-options.html -%}
      {%- include components/btn-toc.html -%}
   </div>

   <div class="post-content">
      {{ content }}
   </div>

</article>